Repository koralle/mugimarks: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, type-check, clippy, rustfmt

biome-check:
  run: "bun biome check \\\n  --no-errors-on-unmatched \\\n  --files-ignore-unknown=true {staged_files}\ngit update-index --again\n"

type-check:
  run: 'bun tsc --noEmit
  
    '

clippy:
  run: 'cargo clippy --all-targets --all-features -- -D warnings
  
    '

rustfmt:
  run: 'cargo fmt -- --check
  
    '

ci: add ci.yaml
  .github/workflows/ci.yaml
Due: none

chore(npm-scripts): add some commands
  package.json
Due: biome-check, type-check

chore(package.json): add `.repository`
  package.json
Due: biome-check, type-check

fix: tsconfig.json
  tsconfig.json
Due: biome-check, type-check

chore: update `.gitignore`
  .gitignore
Due: none

build: add `the-new-css-reset`
  bun.lockb
  package.json
Due: biome-check, type-check

chore(layout): import `the-new-css-reset/css/reset.css`
  src/app/layout.tsx
Due: biome-check, type-check

feat(tauri.conf): set `decorations` to false
  src-tauri/tauri.conf.json
Due: biome-check, type-check

ci: set working-directory
  .github/workflows/ci.yaml
Due: none

build: add `@tauri-apps/api`
  bun.lockb
  package.json
Due: biome-check, type-check

feat(tauri.conf): set `resizable` to false
  src-tauri/tauri.conf.json
Due: biome-check, type-check

fix(src-tauri): run `rustfmt`
  src-tauri/build.rs
  src-tauri/src/main.rs
Due: clippy, rustfmt

build: add `@vanilla-extract/css`, `@vanilla-extract/sprinkles`
  bun.lockb
  package.json
Due: biome-check, type-check

build: add -D `@vanilla-extract/next-plugin`
  bun.lockb
  package.json
Due: biome-check, type-check

build: setup `Vanilla-Extract` to Next.js(App)
  next.config.mjs
Due: biome-check, type-check

Path conditions:
  biome-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  type-check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  clippy: any of: *.rs and ^src\-tauri/
  rustfmt: any of: *.rs and ^src\-tauri/
